$blue-dk: #002A50;
$blue:    #22659c;

@mixin shadow($level: 1) {
	@if $level == 1 {box-shadow: 0 1px 3px rgba(black,0.12), 0 1px 2px rgba(black,0.24);}
	@else if $level == 2 {box-shadow: 0 3px 6px rgba(black,0.16), 0 3px 6px rgba(black,0.23);}
	@else if $level == 3 {box-shadow: 0 10px 20px rgba(black,0.19), 0 6px 6px rgba(black,0.23);}
	@else if $level == 4 {box-shadow: 0 14px 28px rgba(black,0.25), 0 10px 10px rgba(black,0.22);}
	@else if $level == 5 {box-shadow: 0 19px 38px rgba(black,0.30), 0 15px 12px rgba(black,0.22);}
}

.img_dept {
  margin:0 auto;
  max-width:60px;
  max-width:60px;
  width:60px;
  height:60px;
  border-radius:50%;
  box-shadow:0 0 0 5px#E37307;
  // margin-left: 15% !important;
  // margin-right: 15% !important;
  position: 'absolute';
  left: '50%';
  top: '30%';
  transform: 'translate(-50%, -50%)';
}

.img_dept_head {
  margin:0 auto;
  max-width:60px;
  max-width:60px;
  width:60px;
  height:60px;
  border-radius:50%;
  box-shadow:0 0 0 5px lighten($blue,20%);
  // margin-left: 15% !important;
  // margin-right: 15% !important;
  position: 'absolute';
  left: '50%';
  top: '30%';
  transform: 'translate(-50%, -50%)';
}

.user {
  text-decoration: none;
  color: #666;
  //font-family: arial, verdana, tahoma;
  // display: inline-block;
  // padding:20px 10px;
  transition: all 0.5s;
  // background:#fff;
  min-width:130px;
  border-radius:6px;
  //display:flex;
  //align-items:center;
  //justify-content:center;
  //flex-direction:column;
  @include shadow(1);
  &:hover,&:hover + ul li .user {
    //background: lighten(#22659c,30%);
    background:lighten(#F32013,20%);
    color: $blue-dk;
    //color:white;
    //@include shadow(2);
    transition:all 0.15s;
    transform:translateY(-5px);
    box-shadow:inset 0 0 0 3px lighten(#F32013,30%),0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    .img_dept {
      box-shadow:0 0 0 5px lighten($blue,20%);
    }
    .img_dept_head {
      box-shadow:0 0 0 5px lighten(#ff0066, 10%);
    }
  }
}

.role {
  font-weight:600;
  margin-bottom:10px;
  margin-top:5px;
}

.flip-card {
  // background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 200px;
  perspective: 1000px;
  border-radius:6px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius:6px;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius:6px;
}

.flip-card-back {
  background-color: #F32013;
  color: white;
  transform: rotateY(180deg);
  border-radius:6px;
}
