// Here you can add other styles
.c-sidebar {
    .c-sidebar-nav-link.c-active , .c-sidebar-nav-link.c-active:hover{
        color: $white;
        background: rgba($color: $orange, $alpha: 0.6);
        
    }
}

.wrap-content-text {
    word-wrap: break-word;
 
}

.table{
    td{
        p{
            margin:0;
        }
    }
}

.float{
    flex:right ;
    flex-direction: row-reverse;
}

.custom-dialog {
    .modal-dialog{
        width: 50%;
    }
}

.login-page {
    background: linear-gradient(
        rgba(129, 80, 80, 0.4),
        rgba(255, 255, 255, 0.4)
      ),url("../assets/img/softype-inc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}